@use "../../styles/variables.scss" as *;

.carousel {
    position: relative;
    margin-bottom: 2rem;
    &__btn { 
      color: #555555;
      background-color: whitesmoke;
      box-shadow: $box-shadow;
      font-family: Roboto Mono, sans-serif;
      padding: 0.5rem 1rem;
      &:hover {
        box-shadow: $box-shadow-hover;
      }
    }
  }