.field {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 0.5rem;
    }

    &__input {
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        padding: 0.5rem;
        font-size: inherit;
        font-family: "Roboto Mono", sans-serif;
    }
}
