@use "../../styles/mixins.scss" as *;
@use "../../styles/animations.scss" as *;
@use "../../styles/variables.scss" as *;

.card {
  position: relative;
  width: 100%;
  height: 100%;
  &__contrast {
    @include flex(space-between, center, column);
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
    color: white;
    animation: background-out 1s forwards linear;
    &:hover {
      animation: background-hover 1s forwards linear;
    }
  }
  &__heading {
    font-weight: 400;
    text-align: center;
    height: 60px;
  }
  &__background {
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btn-container {
    @include flex(center, center, column);
    gap: 0.5rem;
  }
  &__btn {
    font-family: Roboto Mono, sans-serif;
    width: 16.25rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    box-shadow: $box-shadow;
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
  &--locations {
    height: 25rem;
  }
  &__icon-container {
    @include flex(space-between, center);
    background-color: rgba(245, 245, 245, 0.7);
    padding: 0.5rem;
    width: 16.25rem;
    height: 4.6875rem;
  }
  &__icon {
    width: 4.375rem;
    &--danger {
      width: 2.5rem;
      fill: #245eac;
    }
  }
  &__wind {
    color: black;
  }
  &__temp {
    color: black;
  }
}
