@use "../../styles/mixins.scss" as *;

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(19, 24, 44, 0.9);
  z-index: 100;

  @include tablet {
    overflow: scroll;
  }
}

.modal {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: scroll;

  @include flex(space-between, normal, column);
  position: absolute;
  top: 0;
  left: 0;

  background-color: whitesmoke;

  @include tablet {
    width: 75%;
    height: auto;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
  }

  @include desktop {
    width: 80%;
    max-width: 90rem;
    top: 10%;
    padding: 1rem 3rem;
  }
  &__container {
    @include flex(normal, normal, column);
  }
  &__exit-container {
    @include flex(flex-end);
  }
  &__text {
    @include tablet {
      margin: 0 3rem;
    }
  }
  &__title {
    margin-bottom: 0.5rem;
  }
}

.exit {
  cursor: pointer;
}
