@use "../../styles/mixins.scss" as *;

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(19, 24, 44, 0.9);
  z-index: 100;
}

.modal {
  width: 100%;
  height: 100%;
  padding: 1rem;

  @include flex(space-between, normal, column);
  position: absolute;
  top: 0;
  left: 0;

  background-color: whitesmoke;
  
  & a {
    color: blue;
  }
  & strong {
    font-weight: 400;
  }

  @include tablet {
    width: 85%;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1rem 2rem 1rem;
  }

  @include desktop {
    width: 50%;
  }
  &__container {
    @include flex(normal, normal, column);
  }
  &__exit-container {
    @include flex(flex-end);
  }
  &__text {
    @include tablet {
      margin: 0 3rem;
    }
  }
  &__heading {
    padding-bottom: 1rem;
  }
  &__btns {
    @include flex(flex-end);
    gap: 1rem;

    @include tablet {
      margin-right: 2rem;
    }
  }
  &__confirmation {
    color: red;
  }
}

.exit {
  cursor: pointer;
}
